.bottom_margin {
	margin-bottom:20px;
}

.inner_table_header {
	background-color:#ebebeb;
	font-weight:bold;
	font-size:10pt;	
}

input[readonly]
{
    background-color:#e6e6e6;
}

select {
	max-width:200px;
}

.percentage {
	width:50px;
}
button, a.button{
	cursor: pointer;
}



/* START TABS CSS */
.tabs {
  position: relative;   
  min-height: 2500px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab, .subpops_tab, #citation_tabs ul li {
  float: left;
}



#citation_tabs #otherdates_tab,
#citation_tabs #otherids_tab,
#citation_tabs #otherpubinfo_tab{
	display:none;
}


#population_tabs .general_pops_label{
    color: #757575;
    font-size: 1rem;
    line-height: 2;
    margin: 0 0 1.71429rem;
    width: 100%;
}
#sub_pops_tabs,
#citation_tabs ul {
	width:100%;
}
.tab label.primary_tab_label,
#sub_pops_tabs label.subpops_tab_label,
#sub_pops_tabs label.ese_add_tab_label,
#citation_tabs ul li,
#effect_association_tabs ul li label{
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
#citation_tabs ul li,
#effect_association_tabs ul li {
	list-style: none;
	border: 4px solid #eee;
	cursor:pointer;
}
#citation_tabs ul li a,
#effect_association_tabs ul li label{
	cursor:pointer;
}
#sub_pops_tabs label.subpops_tab_label.active,
#citation_tabs ul li.active,
#effect_association_tabs label.ea_tab_label.active {
	background: #eee; 
	padding: 6px; 
	border: 8px solid #888; 
}

#effect_association_tabs ul li{
	display:inline-block;
	margin: 8px -1px 0;
}





.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}

.subpops_content{
	margin-top:2em;
}


.ipe_content .subpops_content,
.ipu_content .subpops_content,
.ese_content .subpops_content,
.esu_content .subpops_content,
.ese-add_content .subpops_content{
	display:none;
}


.basic_info_messages{
	width:100%;
	margin-bottom:1em;
	background-color:#ccffcc;
    padding: 1em;
	display:none;
}

.basic_info_messages .usr-msg{
	font-weight: bold;
}
.basic_info_messages  .spinny,
.citation_spinny.spinny {
	background-image: url('images/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position:center center;
	display: none;
    height: 16px;
    padding-left: 3em;
    vertical-align: middle;
    width: 16px;
	padding-top:8px;
}

.title_info {
	padding: 0 2em 0.5em;
}

tr.endnote_citation_data{
	display:none;
}
#citation_tabs table {
	clear:both;
}
table#citation_table {
	width:100%;
}
table#citation_table td.citation_button,
table.showolddata-table td.showolddata-button {
	text-align:center;
	padding:2em;
}
table#citation_table td.citation_button a.show_citation_data,
table.showolddata-table td.showolddata-button a.show_citation_data,
#results_content a.add_ea_button {
	font-size: 1.25em;
	font-weight: bold
}
table.showolddata-table td{
	min-width:200px;
	border-top:none;
}
table.showolddata-table label{
	font-weight:bold;
}
table.showolddata-table tr.hr-bottom{
	border-bottom: 1px solid #ededed;
}
table.showolddata-table h4{
	text-align:center;
}

#effect_association_tabs, #citation_tabs{
	margin: 8px;
	border: 5px solid #d6d6d6;
	padding: 0 1em 1em;
}
.entry-content table.population_container {
	border: 5px solid #d6d6d6;
}
.entry-content table.population_container tbody tr td {
    padding: 0.5em 1em;
}


[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
/* END TABS CSS */


form#study_form a.save_study {
	font-size: 2em;
    width: 200px;
}


/** BEGIN UI STYLINGS **/


.ui-multiselect-menu {
    min-width: 420px;
}
select option{
	padding-right:2px;
}







input.no-edit{
	border: none;
	background-color: white !important;
	box-shadow: none;
}	
.noshow {
  display: none;   
}
.minwidth200{
	min-width:200px !important;
}



.not-reported label {
    padding-left: 20px;
	font-style:italic;
}