.bottom_margin {
	margin-bottom:20px;
}

.inner_table_header {
	background-color:#ebebeb;
	font-weight:bold;
	font-size:10pt;	
}

input[readonly]
{
    background-color:#e6e6e6;
}

select {
	max-width:200px;
}



/* START TABS CSS */
.tabs {
  position: relative;   
  min-height: 1800px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab, .subpops_tab {
  float: left;
}
#sub_pops_tabs  {
	width:100%;
}
.tab label.primary_tab_label,
#sub_pops_tabs label.subpops_tab_label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.noshow {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
.subpops_content{
	margin-top:2em;
}
.ipe_content .subpops_content,
.ipu_content .subpops_content,
.ese_content .subpops_content,
.esu_content .subpops_content,
.ese-add_content .subpops_content{
	display:none;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
/* END TABS CSS */
